@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

body {
    padding: 0;
    margin: 0;
}

.page_background_articles {					
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;					
}

.page_background_articles img {				
	width: 100%;					
	height: 100%;					
}

#articles {
    width: 1080px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
}

#articles .header {
    width: 100%;
}

#articles .header nav {
    display: flex;
    justify-content: center;
}

#articles .header nav .onglets {
    background-image: url('../../public/uploads/images/the_witcher_background_header.jpg');
    background-size: cover;
    background-position: center;
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: white 1px solid;
}

#articles .header nav .onglets a {
    display: block;
    text-decoration: none;
    line-height: 35px;
    font-size: 24px;
    padding: 20px;
    margin: 10px;
    font-family: 'Milonga', serif;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: white 1px solid;
}

#articles .header nav .onglets a:hover {
    color: rgb(255, 123, 0);
    background-color: rgb(12, 197, 12);
}

#articles .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#articles .container .articles_block {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}

.search-bar {
    text-align: center; 
    padding: 20px; 
    width: 100%;
}

.search-bar form {
    display: inline-block;
    margin-bottom: 20px; 
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    margin-right: -4px; 
}

.search-bar button {
    padding: 12px 20px;
    background-color: rgb(4, 126, 156); 
    color: white; 
    font-weight: bold;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}

.search-bar button:hover {
    background-color: darkblue; 
}

#articles .container .block {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#articles .container .block img {
    height: 200px;
    width: 400px;
    transition: transform 0.25s;
}

#articles .container .block img:hover {
    transform:scale(1.05);
}

#articles .container .block p {
    color: white;
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
}

#articles .container .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#articles .container .pagination button {
    padding: 10px;
    background-color: rgb(18, 167, 4);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

#articles .container .pagination span {
    padding: 10px;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 640px) {

    #articles {
      width: 100%;
    }

    #articles .header nav {
        flex-direction: column;
        align-items: center;
    }

    #articles .header nav .onglets {
        display: none;
      }
      
  
      #articles .header nav .onglets a {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 2px;
      }
      
      .menu-btn {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 30px;
        z-index: 10;
        background-color: orange;
        transition: all 0.9s;
      }
    
      .bar {
        display: block;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 7px auto;
        transition: all 0.9s;
      }
    
      .menu-btn.open .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
      }
    
      .menu-btn.open .bar:nth-child(2) {
        opacity: 0;
      }
    
      .menu-btn.open .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
      }

      .search-bar button {
        display: none;
      }

      #articles .container .articles_block {
        padding: 0;
        justify-content: center;
    }

    #articles .container .block img {
        max-height: 100px;
        max-width: 200px;
    }

    #articles .container .block p {
        font-size: 0.9rem;
    }
}
