body {
    margin: 0;
    padding: 0;
}

#answer {
    width: 100%;
    background-image: url('../../public/images/the_witcher_universe.jpg');
    background-size: cover;
    background-position: center;
}

#answer .header nav {
    display: flex;
    justify-content: center;
}

#answer .header nav .onglets {
    max-width: 900px;
    margin: 20px;
    padding: 50px;
    background-color: white;
    opacity: 0.70;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#answer .header nav .onglets a {
    display: block;
    text-decoration: none;
    color: black;
    padding-right: 50px;
    padding-top: 20px;
    line-height: 35px;
    font-size: 24px;
    font-family: 'Milonga', serif;
}

#answer .header nav .onglets a:hover {
    color: rgb(255, 123, 0);
}

#answer .header nav .onglets img {
    width: 80px;
    height: 80px;
    padding-bottom: 5px;
}

#answer .body {
    background-image: url('../../public/images/forum_background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100%; 
    margin: 0;
    padding: 0;
}

#answer .container {
    width: 1080px;
    background-color: #000000;
    margin: 0 auto;
    min-height: 100%; 
    box-sizing: border-box; 
  }

  #answer .container .contenu {
    background-color: #808080;
    margin: 0 40px;
    padding: 20px; 
}

#answer .container .contenu .question {
    border: black 1px solid;
    display: flex;
    background-color: #D9CFCF;
    margin-bottom: 40px;
}

#answer .container .contenu .question .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: black 1px solid;
    padding: 50px;
}

#answer .container .contenu .question .left p {
    font-size: 18px;
    font-weight: bold;
}

#answer .container .contenu .question .left img {
    width: 80px;
    height: 80px;
}

#answer .container .contenu .question .right {
    width: 100%;
}

#answer .container .contenu .question .right .title {
    border-bottom: #000000 1px solid;
    padding: 0 20px;
}

#answer .container .contenu .question .right .corps {
    padding: 0 20px;
}

#answer .container .contenu .question .right .corps .text {
    font-size: 18px;
    font-weight: bold;
}

#answer .container .contenu .question .right .corps .bouton {
    display: flex;
}

#answer .container .contenu .question .right .corps button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding-right: 20px;
    font-weight: bold;
}

#answer .container .contenu .réponse {
    border: black 1px solid;
    display: flex;
    background-color: #D9CFCF;
    margin-bottom: 20px; 
}

#answer .container .contenu .réponse .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: black 1px solid;
    padding: 50px;
}

#answer .container .contenu .réponse .left p {
    font-size: 18px;
    font-weight: bold;
}

#answer .container .contenu .réponse .left img {
    width: 80px;
    height: 80px;
}

#answer .container .contenu .réponse .right {
    width: 100%;
}

#answer .container .contenu .réponse .right .corps {
    padding: 0 20px;
}

#answer .container .contenu .réponse .right .corps .text {
    font-size: 18px;
    font-weight: bold;
    padding: 30px 0;
}

#answer .container .contenu .réponse .right .corps .bouton {
    display: flex;
}

#answer .container .contenu .réponse .right .corps button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding-right: 20px;
    font-weight: bold;
}

#answer hr {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #000000;
}

#answer .formulaire {
    margin-bottom: 30px;
}

#answer .formulaire form div label {
    display: none;
}

#answer .formulaire textarea {
    border: 1px solid grey;
    padding: 10px 20px;
}

#answer .formulaire button {
    border: none;
    background: rgb(6, 121, 141);
    color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#answer .formulaire h2 {
    color: white;
}

@media screen and (max-width: 640px) {

    #answer .header nav {
        flex-direction: column;
        align-items: center;
    }

    #answer .header nav .onglets {
        display: none;
      }
  
      #answer .header nav .onglets a {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 2px;
      }
      
      .menu-btn {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 30px;
        z-index: 10;
        background-color: orange;
        transition: all 0.9s;
      }
    
      .bar {
        display: block;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 7px auto;
        transition: all 0.9s;
      }
    
      .menu-btn.open .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
      }
    
      .menu-btn.open .bar:nth-child(2) {
        opacity: 0;
      }
    
      .menu-btn.open .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
      }

      #answer .container {
        width: 100%; 
      }

      #answer .container .contenu .question {
        flex-direction: column;
      }

      #answer .container .contenu .réponse {
        flex-direction: column;
      }

      #answer .container .contenu .question .right {
        text-align: center;
      }

      #answer .container .contenu .question .left {
        text-align: center;
      }

      #answer .container .contenu .question .right .title {
        padding: 0;
      }

      #answer .question h2 {
        border-top: #000000 1px solid;
        padding-top: 10px;
      }

      #answer .container .contenu .réponse .right {
        text-align: center;
      }

      #answer .container .contenu .réponse .left {
        text-align: center;
        border-bottom: #000000 1px solid;
      }

      #answer .formulaire {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
 
}

