body {
  margin: 0;
  padding: 0;
}

.user {
  width: 100%;
}

.user .head nav {
  display: flex;
  justify-content: center;
  background-image: url("../../public/uploads/images/the_witcher_universe.jpg");
}

.user .head nav .onglets {
  max-width: 900px;
  margin: 20px;
  padding: 50px;
  background-color: white;
  opacity: 0.7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user .head nav .onglets a {
  display: block;
  text-decoration: none;
  color: black;
  padding-right: 50px;
  padding-top: 20px;
  line-height: 35px;
  font-size: 24px;
  font-family: "Milonga", serif;
}

.user .head nav .onglets a:hover {
  color: rgb(255, 123, 0);
}

.user .head nav .onglets img {
  width: 80px;
  height: 80px;
  padding-bottom: 5px;
}

.page_background_user {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.user .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user .container {
  width: 800px;

  background-color: #000000;
}

.user .container .contenu {
  background-color: white;
  margin: 20px;
}

.user .container .contenu .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user .container .contenu .infos .recap {
  display: flex;
  padding-top: 20px;
}

.user .container .contenu .infos .recap img {
  width: 80px;
  height: 80px;
}

.user .container .contenu .infos .recap .text {
  padding-left: 10px;
}

.user .container .contenu .infos .recap .text p {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.user .container .contenu .infos .request {
  display: flex;
}

.user .container .contenu .infos .request a {
  text-decoration: none;
}

.user .container .contenu .infos .request p {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .user .head nav {
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .user .head nav .onglets {
    display: none;
  }

  .user .head nav .onglets a {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px;
  }

  .menu-btn {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 30px;
    z-index: 10;
    background-color: orange;
    transition: all 0.9s;
  }

  .bar {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 7px auto;
    transition: all 0.9s;
  }

  .menu-btn.open .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  .menu-btn.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.open .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .user .container .contenu .infos .recap {
    display: flex;
    flex-direction: column;
  }

  .user .container .contenu .infos .recap .text {
    padding-left: 0;
  }

  .user .container .contenu .infos .request {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .user .container {
    height: 100%;
  }
}
